<div class="jumbotron">
  <h1>Much Ado</h1>
  <p>your self-destructing to-do list</p>
</div>

<div class="col-md-12">
  <div class="col-md-4">
    <h2>Create an account in seconds</h2>
    <p>Simply enter a username and password</p>
  </div>
  <div class="col-md-4">
    <h2>Makes managing to-do lists easy</h2>
    <p>If you haven't done it in 7 days, it's gone!</p>
  </div>
  <div class="col-md-4">
    <h2>Untangled from other apps</h2>
    <p>No need to remember your iCloud password to log in here!</p>
  </div>
</div>
