<h2>To-Do Items</h2>
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= distance_of_time_in_words(Time.now, item.created_at + 7.days) + " left"%></td>
            <td><%= link_to "Done", item, method: :delete, class: 'btn btn-warning', data: {confirm: 'Are you got this done?'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
